@model IPagedList<Solution.Web2.Models.ActiviteVM>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
@using PagedList.Mvc;
@using PagedList;

<div class="content-wrapper">
    <button type="button" class="btn btn-default"><a href="@Url.Action("Create", "Activite")">Add Activite</a></button>

    <main class="main-content">

        <div class="col-lg-4">
            <div class="sidebar">
                <div class="sidebar-item">
                    <form>
                        @using (Html.BeginForm())
                        {
                            //@Html.TextBox("searchString", "", new { @class = "sidebar sidebar-item form" })
                            <input type="text" name="searchString" placeholder="Search Your Course...">
                            <button type="submit" id="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                        }
                    </form>
                </div>
            </div>
        </div>

        <section class="classes padding-120">
            <div class="container">
                <div class="row">
                    @if (Model != null)
                    {

                        foreach (var item in Model)
                        {

                            @Html.Partial("_DisplayActivite", item)
                        }
                    }
                </div>
            </div>
        </section>
    </main>
</div>
@Html.PagedListPager(Model, i=> Url.Action("Index","Activite",new{ i, search=Request.QueryString["searchString"]}))

@section scripts{}
