<?xml version="1.0" encoding="utf-8"?>
<!--
Ce fichier est utilisé par le processus de publication/package de votre projet web. Vous pouvez personnaliser le comportement de ce processus
en modifiant ce fichier MSBuild. Pour en savoir plus à ce sujet, visitez https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/8b401b39-d01a-45f9-b83a-ba19432eff78/resourcegroups/MyResourceGroup/providers/Microsoft.Web/sites/SolutionWebWithDB</ResourceId>
    <ResourceGroup>MyResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://solutionwebwithdb.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>solutionwebwithdb.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SolutionWebWithDB</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SolutionWebWithDB</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MyContext" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:solutionwebwithdbdbserver.database.windows.net,1433;Initial Catalog=KinderGarten;User ID=kinderadmin@solutionwebwithdbdbserver;Password=Beligh1995" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|MyContext-20200319133532.mdf;Initial Catalog=MyContext-20200319133532;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MyContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\MSSQLLocalDB; Initial Catalog=MyContext-20200319133532; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|MyContext-20200319133532.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="KinderGarten" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:solutionwebwithdbdbserver.database.windows.net,1433;Initial Catalog=SolutionWebWithDB_db;User ID=kinderadmin@solutionwebwithdbdbserver;Password=Beligh1995" Name="Data Source=tcp:solutionwebwithdbdbserver.database.windows.net,1433;Initial Catalog=SolutionWebWithDB_db;User Id=kinderadmin@solutionwebwithdbdbserver;Password=Beligh1995" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Solution.Data.MyContext, Solution.Data" MigrationConfiguration="Solution.Data.Migrations.Configuration, Solution.Data" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MyContext-Web.config Connection String">
      <ParameterValue>data source=tcp:solutionwebwithdbdbserver.database.windows.net,1433;initial catalog=KinderGarten;user id=kinderadmin@solutionwebwithdbdbserver;password=Beligh1995;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="KinderGarten-Web.config Connection String">
      <ParameterValue>Data Source=tcp:solutionwebwithdbdbserver.database.windows.net,1433;Initial Catalog=SolutionWebWithDB_db;User Id=kinderadmin@solutionwebwithdbdbserver;Password=Beligh1995</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>